@import '../../common-style/variables.scss';

.TestimonialsPage{
    margin: 112px 0;

    @media (max-width: 992px) {
        margin: 72px 0;
    }

    @media (max-width: 576px) {
        margin: 48px 0;
    }

    .container{

        .row_custom{
            gap: 36px 0;
        }
    }
}