@import '../../common-style/variables.scss';

.header{

    .container{

        .header_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 32px 0;

            @media (max-width: 992px) {
                padding: 24px 0;
            }

            .logo_main{

                .logo_otr{
                    width: 140px;
                    height: 40px;

                    @media (max-width: 992px) {
                        width: 110px;
                        height: 32px;
                    }

                    .logo{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }

            .nav_otr{

                @media (max-width: 992px) {
                    display: none;
                }

                .menu_ul{
                    display: flex;
                    align-items: center;
                    gap: 0 28px;

                    .menu_li{
                        position: relative;
                        

                        .menu_linkk{
                            display: flex;
                            align-items: center;
                            gap: 0 8px;
                            cursor: pointer;
                            transition: .3s;

                            &:hover{

                                span{
                                    color: $Primary_color;
                                }

                                .icon{
                                    color: $Primary_color;
                                }
                            }

                            span{
                                color: $White;
                                transition: .3s;
                            }

                            .icon{
                                font-size: 24px;
                                color: $White;
                                transition: .3s;
                            }
                        }

                        .dropdown_otr{
                            position: absolute;
                            top: 150px;
                            left: -20px;
                            visibility: hidden;
                            opacity: 0;
                            padding-top: 20px;
                            z-index: 99;
                            transition: .5s;

                            .dropdown_ul{
                                background-color: #5b1213;
                                border-radius: 6px;
                                width: 200px;
                                overflow: hidden;

                                .dropdown_li{

                                    &:not(:last-child){
                                        border-bottom: 2px solid $Primary_color;
                                    }

                                    .dropdown_linkk{
                                        width: 100%;
                                        height: 100%;
                                        padding: 12px 12px 12px 12px;
                                        position: relative;
                                        transition: .3s;

                                        &:hover{
                                            padding: 12px 0 12px 36px;

                                            &::after{
                                                left: 10px;
                                            }
                                            
                                            span{
                                                color: $Primary_color;
                                            }
                                        }

                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            left: -20px;
                                            transform: translateY(-50%);
                                            width: 12px;
                                            height: 12px;
                                            background-color: $Primary_color;
                                            border-radius: 100%;
                                            transition: .3s;
                                        }
                                        
                                        span{
                                            color: $White;
                                            transition: .3s;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .dropdown_hold_li{
                        transition: .3s;

                        &:hover{

                            .dropdown_otr{
                                top: 20px;
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .action_main{
                display: flex;
                align-items: center;
                gap: 0 16px;

                .action_otr{

                    @media (max-width: 992px) {
                        display: none;
                    }
                }

                .cart_main{

                    .cart_otr{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 52px;
                        height: 52px;
                        background-color: $Grey_bg_color;
                        border-radius: 6px;
                        transition: .3s;

                        @media (max-width: 992px) {
                            width: 40px;
                            height: 40px;
                        }

                        &:hover{
                            
                            .icon{
                                color: $Primary_color;
                            }
                        }
    
                        .icon{
                            font-size: 24px;
                            color: $White;
                            transition: .3s;

                            @media (max-width: 992px) {
                                font-size: 20px;
                            }
                        }
                    }
                }

                .menu_icon_otr{
                    display: none;
                    transition: .3s;

                    &:hover{

                        .icon{
                            color: $Primary_color;
                        }
                    }

                    @media (max-width: 992px) {
                        display: block;
                    }

                    .icon{
                        color: $White;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

.headerInner_wrapper{
    text-align: center;
    width: 570px;
    max-width: 100%;
    margin: 0 auto 48px auto;

    .heading{
        color: $White;
    }

    .desc{
        color: $Grey_text;
        margin-top: 20px;
    }
}

.pages_wrapper{
    text-align: center;
    margin: 0 auto 48px;
    width: 600px;
    max-width: 100%;

    .pages_wrapper_heading{
        color: $White;
    }

    .pages_wrapper_desc{
        color: $White;
        margin: 24px 0;

        @media (max-width: 768px) {
            margin: 12px 0 24px;
        }
    }

    .pages_wrapper_text_main{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 12px;

        .pages_wrapper_home_text{
            color: $White;
            transition: .3s;

            &:hover{
                color: $Primary_color;
            }
        }

        .pages_wrapper_slash{
            color: $White;
        }

        .pages_wrapper_about_text{
            color: $Primary_color;
            transition: .3s;

            &:hover{
                color: $Yellow_shade;
            }
        }
    }
}

.blog_pages_wrapper{
    text-align: center;
    margin-bottom: 48px;

    .blog_pages_wrapper_heading{
        color: $White;
    }

    .blog_pages_wrapper_text_main{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 12px;
        margin-top: 24px;

        .blog_pages_wrapper_home_text{
            color: $White;
            transition: .3s;

            &:hover{
                color: $Primary_color;
            }
        }

        .blog_pages_wrapper_slash{
            color: $White;
        }

        .blog_pages_wrapper_blog_text{
            color: $White;
            transition: .3s;

            &:hover{
                color: $Primary_color;
            }
            
        }

        .blog_pages_wrapper_current_text{
            color: $Primary_color;
        }
    }
}