@import '../../common-style/variables.scss';

.PricingSection{
    position: relative;
    margin: 112px 0;

    @media (max-width: 992px) {
        margin: 72px 0;
    }

    @media (max-width: 575px) {
        margin: 48px 0;
    }

    .container{

        .row_custom{
            gap: 36px 0;
        }
    }

    .pos_img{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;

        @media (max-width: 576px) {
            width: 100%;
        }
    }
}

.col_pricingCart_otr{

    .col_pricingCart_inr{
        padding: 32px 28px 36px;
        background-color: $Black_shade2;
        border-radius: 8px;
        border-bottom: 4px solid transparent;
        transition: .3s;

        @media (max-width: 576px) {
            padding: 32px 20px 16px;
            border-radius: 6px;
        }

        &:hover{
            background-image: linear-gradient( 143deg, $Primary_color -24%, $Black_shade2 20% );
            border-bottom: 2px solid $Primary_color;
            transform: translateY(-15px);

            .icon_otr{
                background-color: $Primary_color;

                .icon{
                    color: $White;
                    filter: brightness(0) invert(1) !important;
                    -webkit-filter: grayscale(100%);
                    filter: gray;
                }
            }

            .heading{
                color: $White;
            }
        }

        .icon_otr{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 120px;
            background-color: #202020;
            border-radius: 4px;
            transition: .3s;

            @media (max-width: 1400px) {
                width: 80px;
                height: 80px;
            }

            .icon{
                color: $Grey_text2;
                width: 80px;
                height: 80px;
                object-fit: contain;
                object-position: center;
                transition: .3s;

                @media (max-width: 1400px) {
                    width: 48px;
                    height: 48px;
                }
            }
        }

        .heading{
            color: $Grey_text;
            margin: 20px 0;
        }

        .price{
            color: $Primary_color;

            .price_inr{
                display: inline;
                color: $White;
            }
        }

        .pricing_ul{
            display: flex;
            flex-direction: column;
            gap: 8px 0;
            margin: 20px 0 32px;

            .pricing_li{

                .pricing_text{
                    color: $Grey_text;
                }
            }
        }

        .action_otr{

        }
    }
}