@import '../../common-style/variables.scss';

.ContactPage{
    margin-top: 112px;

    @media (max-width: 992px) {
        margin-top: 72px;
    }

    @media (max-width: 576px) {
        margin-top: 48px;
    }

    .container{

        .row_custom_otr{
            overflow: hidden;
            border-radius: 16px;

            @media (max-width: 576px) {
                border-radius: 8px;
            }

            .row_custom{
                background-color: $Black_shade2;
                padding: 72px 48px;
                border-radius: 16px;
                align-items: center;
                gap: 36px 0;
    
                @media (max-width: 1200px) {
                    padding: 48px 20px;
                }
    
                @media (max-width: 576px) {
                    padding: 32px 16px;
                }
    
                .col_content_otr{
    
                    .col_content_inr{
    
                        .heading{
                            color: $White;
                        }
    
                        .desc{
                            color: $Grey_text;
                            margin: 12px 0 20px;
                        }
    
                        .contact_ul{
                            display: flex;
                            flex-direction: column;
                            gap: 12px 0;
    
                            .contact_li{
                                display: grid;
                                align-items: center;
                                grid-template-columns: auto 1fr;
                                gap: 12px 16px;

                                @media (max-width: 576px) {
                                    display: flex;
                                    flex-direction: column;
                                }
    
                                .icon_otr{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 64px;
                                    height: 64px;
                                    background-color: $Black_shade3;
                                    border-radius: 4px;

                                    @media (max-width: 576px) {
                                        width: 48px;
                                        height: 48px;
                                    }
    
                                    .icon{
                                        width: 24px;
                                        height: 24px;
                                        object-fit: contain;
                                        object-position: center;
                                        fill: $Grey_text;

                                        @media (max-width: 576px) {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                }
    
                                .content{

                                    @media (max-width: 576px) {
                                        text-align: center;
                                    }
    
                                    .contact_heading{
                                        color: $Primary_color;
                                        margin-top: 2px;
                                    }
    
                                    .contact_text{
                                        color: $Grey_text;
                                    }
    
                                    .contact_link_otr{
                                        display: flex;
                                        align-items: center;
                                        gap: 0 12px;

                                        @media (max-width: 576px) {
                                            flex-wrap: wrap;
                                            justify-content: center;
                                        }
    
                                        .contact_link_text{
                                            color: $Grey_text;
                                            word-break: break-all;
                                            transition: .3s;
    
                                            &:hover{
                                                color: $White;
                                            }
                                        }
    
                                        .contact_link_line{
                                            color: $Grey_text;

                                            @media (max-width: 430px) {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .col_input_otr{
    
                    .col_input_inr{
    
                        .input_main{
                            display: flex;
                            flex-direction: column;
                            gap: 16px 0;
    
                            .textarea{
                                padding: 20px 16px;
                                width: 100%;
                                background-color: $Black_shade3;
                                border: 2px solid transparent;
                                font-size: $font-size-18px;
                                line-height: $line-height-32px;
                                font-family: $font-family-Jost-Regular;
                                color: $Grey_text2;
                                border-radius: 4px;
                                outline: none;
                                resize: none;
                                height: 150px;
                                transition: .3s;
                            
                                &:hover{
                                    border: 2px solid $Primary_color;
                                }
                            
                                @media (max-width: 768px) {
                                    padding: 14px 16px;
                                }
                            
                                &:focus{
                                    border: 2px solid $Primary_color;
                                }
                            }
                        }
                        
                        .action_otr{
                            display: flex;
                            width: 100%;
                            margin-top: 20px;
    
                            .submit_btn{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .iframe_otr{
            width: 100%;
            height: 450px;
            border-radius: 16px;
            overflow: hidden;
            margin-top: 112px;

            @media (max-width: 992px) {
                margin-top: 72px;
                height: 350px;
            }

            @media (max-width: 768px) {
                height: 270px;
            }

            @media (max-width: 576px) {
                margin-top: 48px;
                border-radius: 12px;
            }

            @media (max-width: 420px) {
                height: 180px;
                border-radius: 8px;
            }

            iframe{
                
            }
        }
    }
}